.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;

  .col {
    margin: 0 15px;

    &--4 {
      width: calc((100% / 3) - 30px);
    }
  }
}
